<div class="">
    <div class="bg-gray-400 max-w-auto h-[1px]">
        <div class="w-full max-w-[1700px] px-4 mx-auto">
            <h1 class="text-[20px] font-bold pt-[40px] pb-[20px]">HeadHunter</h1>
            <div class="grid gap-[10px]">
                <a href="#" class="text-gray-400 font-medium">Помощь</a>
                <a href="#" class="text-gray-400 font-medium">Наши вакансии</a>
                <a href="#" class="text-gray-400 font-medium">Реклама на сайте</a>
                <a href="#" class="text-gray-400 font-medium">Требования к ПО</a>
                <a href="#" class="text-gray-400 font-medium">Инвесторам</a>
                <a href="#" class="text-gray-400 font-medium">Каталог компаний</a>
                <a href="#" class="text-gray-400 font-medium">Работа по профессиям</a>
            </div>
            <div class="pt-[60px] flex gap-[20px] pb-[40px]">
                <a href="#" class="text-gray-400 font-medium">Этика и комплаенс </a>
                <a href="#" class="text-gray-400 font-medium">Оказание услуг</a>
                <a href="#" class="text-gray-400 font-medium">Использование сайтов</a>
                <a href="#" class="text-gray-400 font-medium">Защита персональных данных</a>
                <a href="#" class="text-gray-400 font-medium">Пользовательское соглашение</a>
            </div>
            <div class="bg-gray-400 max-w-auto h-[1px]"></div>
            <div class="text-gray-400 font-medium pt-[20px] pb-[20px] pl-[20px]">© 2025 Группа компаний HeadHunter</div>
        </div>
    </div>
</div>
