<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Работодателям</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include 'main/header.html' %}
    <div class="w-full h-[100px] p-[15px]">
        <div class="w-full max-w-[1700px] px-4 mx-auto">
            <div class="flex items-center justify-between">
                <div class="flex items-center gap-[30px]">
                    <div class="bg-red-600 w-[70px] h-[70px] rounded-full flex items-center justify-center font-bold text-[24px] text-white">hh</div>
                    <a href="{% url 'help' %}" class="font-bold text-[24px] hover:text-gray-400">Помощь</a>
                </div>
                <div class="flex items-center gap-[70px]">
                    <div class="text-center pt-[5px]">Создать резюме</div>
                    <a href="{% url 'authorization' %}" class="text-center pt-[5px]">Войти</a>
                </div>
            </div>
        </div>
    </div>
    {% block head %} {% endblock %}
    {% block search %} {% endblock %}
    {% block start %} {% endblock %}
    {% block help %} {% endblock %}
    {% include 'main/footer.html' %}
</body>
</html>